<div style="padding-left:30px;padding-right:30px;">
	<div style="border-bottom: 1px solid #242e38;color:#fff;">
		<h3>建筑
			
		</h3>
	</div>
	<div style="padding-top:30px;">
		<table class="table table-bordered table-striped">
		  <thead>
		    <tr>
		    	<th>邮箱</th>
		    	<th>昵称</th>
		      	<th>最后登录时间</th>
		      	<th class="span2">操作</th>
		    </tr>
		  </thead>

		  <tbody id="users_list_field">
			<tr id="user_1">
				<td>admin@longchuang.com</td>
				<td>管理员</td>
			  	<td>2014-10-24 09:36:50</td>
			  	<td></td>
			</tr>
			<tr id="user_2">
				<td><a href="/users/2/edit">duchongyou@iotps.com</a></td>
				<td>闸北</td>
		  		<td>2014-08-18 18:15:14</td>
		  		<td>
		    		<a rel="nofollow" data-method="delete" data-confirm="确定删除吗？" href="/users/2">
						<i class="icon-trash"></i>
						<span class="fs12">删除</span>
					</a>  
				</td>
			</tr>
			<tr id="user_7">
				<td><a href="/users/7/edit">xugenyan@longchuang.com</a></td>
				<td>许根炎</td>
		  		<td>2014-10-17 09:15:11</td>
		  		<td>
		    		<a rel="nofollow" data-method="delete" data-confirm="确定删除吗？" href="/users/7">
						<i class="icon-trash"></i>
						<span class="fs12">删除</span>
					</a>  
				</td>
			</tr>
			<tr id="user_8">
				<td><a href="/users/8/edit">13801628381@163.com</a>	</td>
				<td>赵先生</td>
		  		<td>2013-11-01 14:30:04</td>
		  		<td>
		    		<a rel="nofollow" data-method="delete" data-confirm="确定删除吗？" href="/users/8">
						<i class="icon-trash"></i>
						<span class="fs12">删除</span>
					</a>  
				</td>
			</tr>
		  </tbody>
		</table>
	</div>
</div>