<ul class="nav nav-pills  nav-stacked" role="tablist">
	<li class="<%= 'active' if params[:category]=='total' %>">
	  	<%= link_to diagnosis_optimization_index_path(:category=>'total') do%>
	  		诊断分析
	  	<% end %>
  	</li>

	<li class="<%= 'active' if params[:category]=='electric' %>">
	  	<%=	link_to diagnosis_optimization_index_path(:category=>'electric') do %>
	  		优化控制
	  	<% end %>
  	</li>
</ul>