<ul class="nav nav-pills  nav-stacked" role="tablist">
	<li class="<%= 'active' if params[:category]=='total' %>">
	  	<%= link_to efficiency_index_path(:category=>'total') do%>
	  		能效分析
	  	<% end %>
  	</li>
</ul>