<ul class="nav nav-pills  nav-stacked" role="tablist">
	<li class="<%= 'active' if params[:category]=='total' %>">
	  	<%= link_to notice_index_path(:category=>'total') do%>
	  		告警事件
	  	<% end %>
  	</li>

</ul>