body{margin-top:50px;}
a { 
outline: none;
} 

select {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 220px;
}

/*1:navbar*/
.navbar {
    margin-bottom: 0px;
}

.navbar-inverse {
    background:#011327;
    border-color: #242E38;
}

.navbar-inverse .navbar-nav > li> a {
    color: white;
}

.navbar-inverse .navbar-nav > li> a:hover,
.navbar-inverse .navbar-nav > li> a:focus {
  color: red;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #080808;
    color: red;
}

.navbar-inverse .navbar-nav > li .navbar-admin {
    color: #F1C763
}


.weather_li {
    color: #fff;
    overflow: hidden;
    padding-top: 10px;
}
.weather_li, .weather_li div, .weather_li div img {
    float: left;
    overflow: hidden;
}

#weather_detail {
    float: left;
    font-size: 12px;
    padding-top: 8px;
}

#weather_image {
    float: left;
    padding-left: 10px;
    width: 42px;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

/*2:main*/
.content{
	background:#011327;
	height: 100%;
}


.col-sm-3, .col-md-2{
    padding-left: 0px;
    padding-right: 0px;
}

/*2.1:sidebar*/


.nav-pills > li {

    border-bottom: 1px solid #242E38;
}

.nav-pills > li > a {
    padding-left: 30px;
    border-radius: 0px;
}

/*2.2:content-main*/
.content-main{
	background:#010D1C;
	height: 100%;
}

.main{
	min-height:600px;    /*高度最小值设置为：100px*/
}



/*footer*/
footer{
margin-left: -10px;

}
#copyrights {
    color: #555;
    font-family: Arial,sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding: 0 0 30px;
    text-align: center;

}