<h1>Monitor#index</h1>
<%if params[:category] == "electric" %>
			<h1>Monitor#电量</h1>
<%elsif params[:category] == "gas" %>
			<h1>Monitor#燃气</h1>
<%elsif params[:category] == "water" %>
			<h1>Monitor#水</h1>
<%elsif params[:category] == "heat" %>
			<h1>Monitor#集中供热</h1>
<%elsif params[:category] == "cool" %>
			<h1>Monitor##集中供冷</h1>
<%else params[:category] == "cool" %>
			<h1>Monitor#总能耗</h1>		

	
<%end%>

