<footer class="container-fluid" style="background:#F6F6F6">
  <div class="row">
        <div id="copyrights" class="col-xs-12">
               <section class="copyright">All content copyright <a href="http://www.ghostchina.com/" target="_blank">Ghost 中文网</a> &copy; 2014 • All rights reserved.</section>
               
               <section class="beian"><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a> | 京公网安备11010802014853</section>
          </div>
  </div>
</footer>